* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'roboto' sans-serif;

  background-image: linear-gradient(25deg cyan, yellow);

  /*font-family: 'Roboto', sans-serif;
  font-family: 'The Nautigal', cursive;*/
}
.body {
  background-color: linear-gradient(45deg cyan, yellow);
  background-image: linear-gradient(25deg cyan, yellow);
}
.cabecalho {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  padding: 40px;
  text-align: center;
}

.llogin {
  display: flex;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 20px;
  height: 400px;
  width: 350px;
  background-color: rgb(166, 235, 235);
}
.llogin-name {
  height: 40px;
  width: 300px;
  background-color: rgb(163, 12, 235);
}
.llogin-senha {
  height: 40px;
  width: 300px;
  background-color: rgb(163, 12, 235);
}
.llogin-emviar {
  height: 40px;
  width: 300px;
  background-color: rgb(163, 12, 235);
}
