
}:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/*------------Base--------------*/
/**Reset**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

/*------------Layout--------------*/
.menu{
  display: flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: 4.2rem;
  background-color:aquamarine;
  border-left: 3rem;

}
.menu logotxt{

}
.menu-btm{
  display: flex;
  
  justify-content: space-around;
}
.menu img{
 width: 2rem;
 height: 2rem;
}
.menu a{
  padding-left: 2rem;
  padding-right: 2rem;
}
.conteudo{
  display: flexbox;
  background-color: rgb(255, 130, 222);
  display: flex;
  flex-direction: row;
  align-items: center;

 height: auto;
}
.conteudo-text{
  flex-direction: column;

}
.conteudo img{
  width: 60rem;
  height: auto;

}