margin: 0;
* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  /*font-family: 'Roboto', sans-serif;
  font-family: 'The Nautigal', cursive;*/
}
body {
  background: linear-gradient(45deg, #ffcccc 0%, #99ccff 100%);
  background-repeat: no-repeat;
  margin: 0rem;
  padding: 0rem;
}

/*layout*/

.main-cadastro{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(5deg, #ffcccc 0%, #99ccff 100%);
  display: flex;
  justify-content: center; /*eixo X */
  align-items: center;    /* eixo Y */

}
.left-cadastro{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center; /*eixo X */
  align-items: center;    /* eixo Y */
  flex-direction: column;
}

.left-cadastro > h1{
  color: #55655e;
}
.right-cadastro{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center; /*eixo X */
  align-items: center;    /* eixo Y */
  flex-direction: column; 
}
.right-cadastro > h1 {
  color: #55655e;
  font-weight: 800;
  margin: 0;
}
.card-cadastro{
  width: 60%;
  display: flex;
  justify-content: center; /*eixo X */
  align-items: center;    /* eixo Y */
  flex-wrap: wrap;
  background: #8875a6d6;
  padding: 1rem 1rem;
  border-radius: 20px;
  box-shadow: 0px 10px 40px  #ffcccc;
}

.textfild{
  display: flex;
  justify-content: center; /*eixo X */
  align-items: flex-start;    /* eixo Y */
  flex-direction: column;
  margin: 0,9rem 0,9rem;
  padding: 0rem 2rem;
}

.textfild > input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #51416bd6;
  font-size: 12pt;
  box-shadow: 0px 10px 40px  #ffcccc;
  outline: none;
  box-sizing: border-box;
}

.textfild > label{
  color: white;
  margin-bottom:10px;
}
.textfild input::placeholder{
  color: #f0ffff94;
}

.btn-cadastro{
  display: flex;
  justify-content: center; /*eixo X */
  align-items:flex-end;    /* eixo Y */
  flex-direction: row;
  width: 100%;  
}
.btn-cadastro > a{
  padding-left: 1rem;
}
.btn-cadastro > a button{
  width: 100%;
  padding: 10px 0px;
  margin: 25px;
  border: none; /*tira borda invisivel do html*/
  border-radius: 10px;
  outline: none; /*tira linha invisivel do html*/
  text-transform: uppercase;
  font-weight: 800;/*fonte Bold*/
  letter-spacing: 3px;
  color: #99ccff;
  cursor: pointer;
}

@media(max-width:900px) {
  .main-cadastro{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(5deg, #ffcccc 0%, #99ccff 100%);
    display: flex;
    justify-content: center; /*eixo X */
    align-items: center;    /* eixo Y */
    flex-direction:column;
  }
  .left-cadastro{
    width:100vw;
    height: 50vh;
    display: flex;
    justify-content: center; /*eixo X */
    align-items: center;    /* eixo Y */
    flex-direction: column;
  }

  .right-cadastro{
    width: 100vw;
    display: flex;
    justify-content: center; /*eixo X */
    align-items: center;  /* eixo Y */
    flex-direction: column; 
  }

  .card-cadastro{
    width:60%;
    display: flex;
    justify-content: center; /*eixo X */
    align-items: center;    /* eixo Y */
    flex-wrap: wrap;
    background: #8875a6d6;
    padding: 1rem 1rem;
    border-radius: 20px;
    box-shadow: 0px 10px 40px  #ffcccc;
  }

  .btn-cadastro a {
    display: flex;
    justify-content: center; /*eixo X */
    align-items:flex-end;    /* eixo Y */
    flex-direction: row;
    width: 50%;  
    padding: 1.1rem 1rem;
    margin: 0vw 0vh;
  }

}


  @media(min-width:1200px){
    .card-cadastro{
      width: 60%;
      display: flex;
      justify-content: center; /*eixo X */
      align-items: center;    /* eixo Y */
      flex-wrap: wrap;
      background: #8875a6d6;
      padding: 1rem 1rem;
      border-radius: 20px;
      box-shadow: 0px 10px 40px  #ffcccc;
    }
  
  }
